In [43]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib as mpl
import matplotlib.pyplot as plt 
from matplotlib.pyplot import MultipleLocator
import statsmodels.formula.api as sm
import glob,os
from sklearn.linear_model import LinearRegression, SGDRegressor, Ridge
from sklearn.model_selection import train_test_split

In [44]:
df1 = pd.read_sas(r'D:\FIN3380\Group Project\PJ1\factors_monthly.sas7bdat')
df2 = pd.read_sas(r'D:\FIN3380\Group Project\PJ1\project_1.sas7bdat')

In [45]:
df1

           date   mktrf     smb     hml      rf    year  month  umd     dateff
0    1926-07-01  0.0296 -0.0238 -0.0273  0.0022  1926.0    7.0  NaN 1926-07-31
1    1926-08-01  0.0264 -0.0147  0.0414  0.0025  1926.0    8.0  NaN 1926-08-31
2    1926-09-01  0.0036 -0.0139  0.0012  0.0023  1926.0    9.0  NaN 1926-09-30
3    1926-10-01 -0.0324 -0.0013  0.0065  0.0032  1926.0   10.0  NaN 1926-10-30
4    1926-11-01  0.0253 -0.0016 -0.0038  0.0031  1926.0   11.0  NaN 1926-11-30
...         ...     ...     ...     ...     ...     ...    ...  ...        ...
1137 2021-04-01  0.0493 -0.0311 -0.0093  0.0000  2021.0    4.0  NaN 2021-04-30
1138 2021-05-01  0.0029 -0.0028  0.0704  0.0000  2021.0    5.0  NaN 2021-05-28
1139 2021-06-01  0.0279  0.0180 -0.0776  0.0000  2021.0    6.0  NaN 2021-06-30
1140 2021-07-01  0.0119 -0.0396 -0.0175  0.0000  2021.0    7.0  NaN 2021-07-30
1141 2021-08-01  0.0291 -0.0045 -0.0007  0.0000  2021.0    8.0  NaN 2021-08-31

[1142 rows x 9 columns]

In [59]:
df2.dropna()
df2

,PERMNO,PERMCO,DATE,RET,mcap,momentum12,Accrual,GProf,Oprof,Noa,...,FCF_P,CAPXLTG,CEQG,FIRMTANG,ivol,maxret,seasonality,CEI,nsi,prcdelay1
0,10000.0,7952.0,1986-04-30,-0.098592,1.633000e+07,NaN,0.051385,-0.032242,-0.434257,-0.284131,...,-0.044091,NaN,3.008746,0.737513,-0.047159,-0.145161,NaN,NaN,NaN,NaN
1,10000.0,7952.0,1986-05-30,-0.222656,1.517200e+07,NaN,0.051385,-0.032242,-0.434257,-0.284131,...,-0.047456,NaN,3.008746,0.737513,-0.032645,-0.022727,NaN,NaN,NaN,NaN
2,10000.0,7952.0,1986-06-30,-0.005025,1.179386e+07,NaN,0.051385,-0.032242,-0.434257,-0.284131,...,-0.061049,NaN,3.008746,0.737513,-0.034740,-0.115702,NaN,NaN,NaN,NaN
3,10000.0,7952.0,1986-07-31,-0.080808,1.173459e+07,NaN,0.067911,0.009177,-0.752524,-0.557969,...,-0.105841,NaN,0.161103,0.546046,-0.026370,-0.042553,NaN,NaN,NaN,NaN
4,10000.0,7952.0,1986-08-29,-0.615385,1.078634e+07,NaN,0.067911,0.009177,-0.752524,-0.557969,...,-0.115146,NaN,0.161103,0.546046,-0.037241,-0.116667,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2381625,93436.0,53453.0,2021-11-30,0.027612,1.118751e+12,0.807603,0.143450,0.227853,0.151546,-0.404512,...,0.003686,-2.403436,-0.077638,0.637375,-0.018568,-0.126616,0.087781,-0.292665,-0.060591,0.180243
2381626,93436.0,53453.0,2021-12-31,-0.076855,1.149642e+12,1.870838,0.122502,0.247703,0.174489,-0.407116,...,0.003538,-3.386263,-0.090671,0.628411,-0.028291,-0.084910,0.119409,-0.292178,-0.072393,0.159999
2381627,93436.0,53453.0,2022-01-31,-0.113609,1.092218e+12,1.016843,0.122502,0.247703,0.174489,-0.407116,...,0.003724,-3.386263,-0.090671,0.628411,-0.028752,-0.074947,0.183826,-0.246419,-0.057393,0.162654
2381628,93436.0,53453.0,2022-02-28,-0.070768,9.681319e+11,0.497556,0.122502,0.247703,0.174489,-0.407116,...,0.004201,-3.386263,-0.090671,0.628411,-0.036362,-0.135317,-0.023906,-0.245744,-0.057761,0.231407
2381629,93436.0,53453.0,2022-03-31,0.238009,8.996190e+11,0.180447,0.104621,0.265842,0.193140,-0.429623,...,0.005539,-3.548883,-0.358335,0.632665,-0.030830,-0.074777,-0.092575,-0.245744,-0.057761,0.306750

In [47]:
stk = df2[['PERMNO','DATE','RET','mcap','maxret']]

In [48]:
stk['YM'] = pd.to_datetime(stk['DATE']).dt.to_period('M')
stk

C:\Users\17782\AppData\Local\Temp/ipykernel_19380/869380902.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stk['YM'] = pd.to_datetime(stk['DATE']).dt.to_period('M')

          PERMNO       DATE       RET          mcap    maxret       YM
0        10000.0 1986-04-30 -0.098592  1.633000e+07 -0.145161  1986-04
1        10000.0 1986-05-30 -0.222656  1.517200e+07 -0.022727  1986-05
2        10000.0 1986-06-30 -0.005025  1.179386e+07 -0.115702  1986-06
3        10000.0 1986-07-31 -0.080808  1.173459e+07 -0.042553  1986-07
4        10000.0 1986-08-29 -0.615385  1.078634e+07 -0.116667  1986-08
...          ...        ...       ...           ...       ...      ...
2381625  93436.0 2021-11-30  0.027612  1.118751e+12 -0.126616  2021-11
2381626  93436.0 2021-12-31 -0.076855  1.149642e+12 -0.084910  2021-12
2381627  93436.0 2022-01-31 -0.113609  1.092218e+12 -0.074947  2022-01
2381628  93436.0 2022-02-28 -0.070768  9.681319e+11 -0.135317  2022-02
2381629  93436.0 2022-03-31  0.238009  8.996190e+11 -0.074777  2022-03

[2381630 rows x 6 columns]

In [49]:
stk['prev_maxret'] = stk.groupby('PERMNO').maxret.shift(0) # 前一个月数据向下移动一格，便于分组使用
perc = [0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9] # 生成百分位数，以此分组
stk['allo'] = 1 # 生成新列供存储数据
stk

C:\Users\17782\AppData\Local\Temp/ipykernel_19380/3571178862.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stk['prev_maxret'] = stk.groupby('PERMNO').maxret.shift(0) # 前一个月数据向下移动一格，便于分组使用
C:\Users\17782\AppData\Local\Temp/ipykernel_19380/3571178862.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stk['allo'] = 1 # 生成新列供存储数据

,PERMNO,DATE,RET,mcap,maxret,YM,prev_maxret,allo
0,10000.0,1986-04-30,-0.098592,1.633000e+07,-0.145161,1986-04,-0.145161,1
1,10000.0,1986-05-30,-0.222656,1.517200e+07,-0.022727,1986-05,-0.022727,1
2,10000.0,1986-06-30,-0.005025,1.179386e+07,-0.115702,1986-06,-0.115702,1
3,10000.0,1986-07-31,-0.080808,1.173459e+07,-0.042553,1986-07,-0.042553,1
4,10000.0,1986-08-29,-0.615385,1.078634e+07,-0.116667,1986-08,-0.116667,1
...,...,...,...,...,...,...,...,...
2381625,93436.0,2021-11-30,0.027612,1.118751e+12,-0.126616,2021-11,-0.126616,1
2381626,93436.0,2021-12-31,-0.076855,1.149642e+12,-0.084910,2021-12,-0.084910,1
2381627,93436.0,2022-01-31,-0.113609,1.092218e+12,-0.074947,2022-01,-0.074947,1
2381628,93436.0,2022-02-28,-0.070768,9.681319e+11,-0.135317,2022-02,-0.135317,1
2381629,93436.0,2022-03-31,0.238009,8.996190e+11,-0.074777,2022-03,-0.074777,1

In [50]:
def allocate_ret(df): # 构造函数，使得每个公司按照前一个月数据进行区间排名（排名分0-9，0代表上月数据最小的公司）
    quan = df['prev_maxret'].describe(percentiles = perc)
    quan = quan.iloc[4:13]
    df.loc[df.prev_maxret <= quan[0],'allo'] = 0
    df.loc[(df.prev_maxret > quan[0])&(df.prev_maxret <= quan[1]),'allo'] = 1
    df.loc[(df.prev_maxret > quan[1])&(df.prev_maxret <= quan[2]),'allo'] = 2
    df.loc[(df.prev_maxret > quan[2])&(df.prev_maxret <= quan[3]),'allo'] = 3
    df.loc[(df.prev_maxret > quan[3])&(df.prev_maxret <= quan[4]),'allo'] = 4
    df.loc[(df.prev_maxret > quan[4])&(df.prev_maxret <= quan[5]),'allo'] = 5
    df.loc[(df.prev_maxret > quan[5])&(df.prev_maxret <= quan[6]),'allo'] = 6
    df.loc[(df.prev_maxret > quan[6])&(df.prev_maxret <= quan[7]),'allo'] = 7
    df.loc[(df.prev_maxret > quan[7])&(df.prev_maxret <= quan[8]),'allo'] = 8
    df.loc[df.prev_maxret > quan[8],'allo'] = 9
    return df

In [51]:
stk = stk.groupby('YM').apply(allocate_ret) # 按时间分组进行排名
stk

,PERMNO,DATE,RET,mcap,maxret,YM,prev_maxret,allo
0,10000.0,1986-04-30,-0.098592,1.633000e+07,-0.145161,1986-04,-0.145161,0
1,10000.0,1986-05-30,-0.222656,1.517200e+07,-0.022727,1986-05,-0.022727,8
2,10000.0,1986-06-30,-0.005025,1.179386e+07,-0.115702,1986-06,-0.115702,1
3,10000.0,1986-07-31,-0.080808,1.173459e+07,-0.042553,1986-07,-0.042553,5
4,10000.0,1986-08-29,-0.615385,1.078634e+07,-0.116667,1986-08,-0.116667,1
...,...,...,...,...,...,...,...,...
2381625,93436.0,2021-11-30,0.027612,1.118751e+12,-0.126616,2021-11,-0.126616,0
2381626,93436.0,2021-12-31,-0.076855,1.149642e+12,-0.084910,2021-12,-0.084910,2
2381627,93436.0,2022-01-31,-0.113609,1.092218e+12,-0.074947,2022-01,-0.074947,3
2381628,93436.0,2022-02-28,-0.070768,9.681319e+11,-0.135317,2022-02,-0.135317,0
2381629,93436.0,2022-03-31,0.238009,8.996190e+11,-0.074777,2022-03,-0.074777,3

In [52]:
# 加权平均函数
def wavg(df):
    r = df['RET']
    d = df['mcap']
    return (r*d).sum()/d.sum()

In [53]:
ew_pf = stk.groupby(['allo','YM']).apply(wavg).reset_index() # 平均取每个投资组合当月的收益率
ew_pf = ew_pf.rename(columns = {0:'allo_m_ret'})
ew_pf

      allo       YM  allo_m_ret
0        0  1980-01    0.125755
1        0  1980-02   -0.011719
2        0  1980-03   -0.190733
3        0  1980-04    0.042157
4        0  1980-05    0.067339
...    ...      ...         ...
5065     9  2021-11   -0.012926
5066     9  2021-12    0.060255
5067     9  2022-01   -0.046590
5068     9  2022-02   -0.020683
5069     9  2022-03    0.035286

[5070 rows x 3 columns]

In [54]:
result = ew_pf.groupby('allo').agg({'allo_m_ret':'mean'}).reset_index()
result

   allo  allo_m_ret
0     0    0.001267
1     1    0.005292
2     2    0.008962
3     3    0.010023
4     4    0.010259
5     5    0.010939
6     6    0.010909
7     7    0.011549
8     8    0.011163
9     9    0.011198

In [55]:
def capm_model_a(df): # 得到CAPM模型的预期alpha
    Y = df[['Wretwd']]
    X = df[['ChangeRatio']]
    return np.squeeze(LinearRegression().fit(X,Y).intercept_)
def capm_model_b(df): # 得到CAPM模型的预期β
    Y = df[['Wretwd']]
    X = df[['ChangeRatio']]
    return np.squeeze(LinearRegression().fit(X,Y).coef_)
def capm_model_r(df): # 得到CAPM模型的R-square
    Y = df[['Wretwd']]
    X = df[['ChangeRatio']]
    return np.squeeze(LinearRegression().fit(X,Y).score(X, Y))

In [56]:
df1['YM'] = pd.to_datetime(df1.date).dt.to_period('M')
df1 = df1[['YM','mktrf','smb','hml','rf']]
df1 = df1[df1.YM >= '1980-01'].reset_index(drop = True)
df1

          YM   mktrf     smb     hml      rf
0    1980-01  0.0551  0.0162  0.0175  0.0080
1    1980-02 -0.0122 -0.0185  0.0061  0.0089
2    1980-03 -0.1290 -0.0664 -0.0101  0.0121
3    1980-04  0.0397  0.0105  0.0108  0.0126
4    1980-05  0.0526  0.0213  0.0038  0.0081
..       ...     ...     ...     ...     ...
495  2021-04  0.0493 -0.0311 -0.0093  0.0000
496  2021-05  0.0029 -0.0028  0.0704  0.0000
497  2021-06  0.0279  0.0180 -0.0776  0.0000
498  2021-07  0.0119 -0.0396 -0.0175  0.0000
499  2021-08  0.0291 -0.0045 -0.0007  0.0000

[500 rows x 5 columns]

In [57]:
ew_pf = pd.merge(ew_pf, df1, how = 'left', on = 'YM')
ew_pf['ri-rf'] = ew_pf['allo_m_ret'] - ew_pf['rf']
ew_pf = ew_pf.dropna()
ew_pf

      allo       YM  allo_m_ret   mktrf     smb     hml      rf     ri-rf
0        0  1980-01    0.125755  0.0551  0.0162  0.0175  0.0080  0.117755
1        0  1980-02   -0.011719 -0.0122 -0.0185  0.0061  0.0089 -0.020619
2        0  1980-03   -0.190733 -0.1290 -0.0664 -0.0101  0.0121 -0.202833
3        0  1980-04    0.042157  0.0397  0.0105  0.0108  0.0126  0.029557
4        0  1980-05    0.067339  0.0526  0.0213  0.0038  0.0081  0.059239
...    ...      ...         ...     ...     ...     ...     ...       ...
5058     9  2021-04    0.050947  0.0493 -0.0311 -0.0093  0.0000  0.050947
5059     9  2021-05    0.015341  0.0029 -0.0028  0.0704  0.0000  0.015341
5060     9  2021-06    0.023031  0.0279  0.0180 -0.0776  0.0000  0.023031
5061     9  2021-07    0.034776  0.0119 -0.0396 -0.0175  0.0000  0.034776
5062     9  2021-08    0.012547  0.0291 -0.0045 -0.0007  0.0000  0.012547

[5000 rows x 8 columns]

In [58]:
def capm_alpha(df):
    y = df[['ri-rf']]
    X = df[['mktrf']]
    return np.squeeze(LinearRegression().fit(X,y).intercept_)

capm_a = ew_pf.groupby('allo').apply(capm_alpha).reset_index()
capm_a = capm_a.rename(columns = {0:'alpha'})
capm_a

   allo                    alpha
0     0    -0.012543733507362482
1     1    -0.008740370890957597
2     2    -0.004715277426236249
3     3    -0.002905197527396355
4     4   -0.0018148373359511373
5     5   -0.0005807034158631097
6     6  -0.00015048433471689764
7     7    0.0011398751991811285
8     8    0.0020040240318922927
9     9     0.003100674565746097