# Group Assignment 1: Construct the factor

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

D:\anaconda\lib\site-packages\statsmodels\tsa\base\tsa_model.py:7: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import (to_datetime, Int64Index, DatetimeIndex, Period,
D:\anaconda\lib\site-packages\statsmodels\tsa\base\tsa_model.py:7: FutureWarning: pandas.Float64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import (to_datetime, Int64Index, DatetimeIndex, Period,

## Import the data

In [2]:
df = pd.read_sas(r'D:\Code Library\FIN3380_summer\Project_1\project_1.sas7bdat')
df

,PERMNO,PERMCO,DATE,RET,mcap,momentum12,Accrual,GProf,Oprof,Noa,...,FCF_P,CAPXLTG,CEQG,FIRMTANG,ivol,maxret,seasonality,CEI,nsi,prcdelay1
0,10000.0,7952.0,1986-04-30,-0.098592,1.633000e+07,NaN,0.051385,-0.032242,-0.434257,-0.284131,...,-0.044091,NaN,3.008746,0.737513,-0.047159,-0.145161,NaN,NaN,NaN,NaN
1,10000.0,7952.0,1986-05-30,-0.222656,1.517200e+07,NaN,0.051385,-0.032242,-0.434257,-0.284131,...,-0.047456,NaN,3.008746,0.737513,-0.032645,-0.022727,NaN,NaN,NaN,NaN
2,10000.0,7952.0,1986-06-30,-0.005025,1.179386e+07,NaN,0.051385,-0.032242,-0.434257,-0.284131,...,-0.061049,NaN,3.008746,0.737513,-0.034740,-0.115702,NaN,NaN,NaN,NaN
3,10000.0,7952.0,1986-07-31,-0.080808,1.173459e+07,NaN,0.067911,0.009177,-0.752524,-0.557969,...,-0.105841,NaN,0.161103,0.546046,-0.026370,-0.042553,NaN,NaN,NaN,NaN
4,10000.0,7952.0,1986-08-29,-0.615385,1.078634e+07,NaN,0.067911,0.009177,-0.752524,-0.557969,...,-0.115146,NaN,0.161103,0.546046,-0.037241,-0.116667,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2381625,93436.0,53453.0,2021-11-30,0.027612,1.118751e+12,0.807603,0.143450,0.227853,0.151546,-0.404512,...,0.003686,-2.403436,-0.077638,0.637375,-0.018568,-0.126616,0.087781,-0.292665,-0.060591,0.180243
2381626,93436.0,53453.0,2021-12-31,-0.076855,1.149642e+12,1.870838,0.122502,0.247703,0.174489,-0.407116,...,0.003538,-3.386263,-0.090671,0.628411,-0.028291,-0.084910,0.119409,-0.292178,-0.072393,0.159999
2381627,93436.0,53453.0,2022-01-31,-0.113609,1.092218e+12,1.016843,0.122502,0.247703,0.174489,-0.407116,...,0.003724,-3.386263,-0.090671,0.628411,-0.028752,-0.074947,0.183826,-0.246419,-0.057393,0.162654
2381628,93436.0,53453.0,2022-02-28,-0.070768,9.681319e+11,0.497556,0.122502,0.247703,0.174489,-0.407116,...,0.004201,-3.386263,-0.090671,0.628411,-0.036362,-0.135317,-0.023906,-0.245744,-0.057761,0.231407
2381629,93436.0,53453.0,2022-03-31,0.238009,8.996190e+11,0.180447,0.104621,0.265842,0.193140,-0.429623,...,0.005539,-3.548883,-0.358335,0.632665,-0.030830,-0.074777,-0.092575,-0.245744,-0.057761,0.306750

In [3]:
ff3 = pd.read_sas(r'D:\Code Library\FIN3380_summer\Project_1\factors_monthly.sas7bdat')
ff3

           date   mktrf     smb     hml      rf    year  month  umd     dateff
0    1926-07-01  0.0296 -0.0238 -0.0273  0.0022  1926.0    7.0  NaN 1926-07-31
1    1926-08-01  0.0264 -0.0147  0.0414  0.0025  1926.0    8.0  NaN 1926-08-31
2    1926-09-01  0.0036 -0.0139  0.0012  0.0023  1926.0    9.0  NaN 1926-09-30
3    1926-10-01 -0.0324 -0.0013  0.0065  0.0032  1926.0   10.0  NaN 1926-10-30
4    1926-11-01  0.0253 -0.0016 -0.0038  0.0031  1926.0   11.0  NaN 1926-11-30
...         ...     ...     ...     ...     ...     ...    ...  ...        ...
1137 2021-04-01  0.0493 -0.0311 -0.0093  0.0000  2021.0    4.0  NaN 2021-04-30
1138 2021-05-01  0.0029 -0.0028  0.0704  0.0000  2021.0    5.0  NaN 2021-05-28
1139 2021-06-01  0.0279  0.0180 -0.0776  0.0000  2021.0    6.0  NaN 2021-06-30
1140 2021-07-01  0.0119 -0.0396 -0.0175  0.0000  2021.0    7.0  NaN 2021-07-30
1141 2021-08-01  0.0291 -0.0045 -0.0007  0.0000  2021.0    8.0  NaN 2021-08-31

[1142 rows x 9 columns]

## Data cleaning

In [5]:
roa = df[['PERMNO','DATE','RET','mcap','ROA']]
roa['ym'] = pd.to_datetime(roa.DATE).dt.to_period('M')
roa = roa.sort_values(['PERMNO','ym']).reset_index(drop = True)
roa = roa[['PERMNO','ym','RET','mcap','ROA']]
roa = roa.dropna()
roa

<ipython-input-5-0ddde2d75b03>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  roa['ym'] = pd.to_datetime(roa.DATE).dt.to_period('M')

          PERMNO       ym       RET          mcap       ROA
0        10000.0  1986-04 -0.098592  1.633000e+07 -0.598611
1        10000.0  1986-05 -0.222656  1.517200e+07 -0.598611
2        10000.0  1986-06 -0.005025  1.179386e+07 -0.598611
3        10000.0  1986-07 -0.080808  1.173459e+07 -0.826196
4        10000.0  1986-08 -0.615385  1.078634e+07 -0.826196
...          ...      ...       ...           ...       ...
2381625  93436.0  2021-11  0.027612  1.118751e+12  0.120098
2381626  93436.0  2021-12 -0.076855  1.149642e+12  0.138650
2381627  93436.0  2022-01 -0.113609  1.092218e+12  0.138650
2381628  93436.0  2022-02 -0.070768  9.681319e+11  0.138650
2381629  93436.0  2022-03  0.238009  8.996190e+11  0.180390

[2358354 rows x 5 columns]

## Allocation into 10 groups by ROA

In [7]:
perc = [0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9]
roa['allo'] = 1

In [8]:
def allocation(df):
    quan = df['ROA'].describe(percentiles = perc)
    quan = quan.iloc[4:13]
    df.loc[df.ROA <= quan[0],'allo'] = 0
    df.loc[(df.ROA > quan[0])&(df.ROA <= quan[1]),'allo'] = 1
    df.loc[(df.ROA > quan[1])&(df.ROA <= quan[2]),'allo'] = 2
    df.loc[(df.ROA > quan[2])&(df.ROA <= quan[3]),'allo'] = 3
    df.loc[(df.ROA > quan[3])&(df.ROA <= quan[4]),'allo'] = 4
    df.loc[(df.ROA > quan[4])&(df.ROA <= quan[5]),'allo'] = 5
    df.loc[(df.ROA > quan[5])&(df.ROA <= quan[6]),'allo'] = 6
    df.loc[(df.ROA > quan[6])&(df.ROA <= quan[7]),'allo'] = 7
    df.loc[(df.ROA > quan[7])&(df.ROA <= quan[8]),'allo'] = 8
    df.loc[df.ROA > quan[8],'allo'] = 9
    return df

In [9]:
roa = roa.groupby(['ym']).apply(allocation)
roa

          PERMNO       ym       RET          mcap       ROA  allo
0        10000.0  1986-04 -0.098592  1.633000e+07 -0.598611     0
1        10000.0  1986-05 -0.222656  1.517200e+07 -0.598611     0
2        10000.0  1986-06 -0.005025  1.179386e+07 -0.598611     0
3        10000.0  1986-07 -0.080808  1.173459e+07 -0.826196     0
4        10000.0  1986-08 -0.615385  1.078634e+07 -0.826196     0
...          ...      ...       ...           ...       ...   ...
2381625  93436.0  2021-11  0.027612  1.118751e+12  0.120098     7
2381626  93436.0  2021-12 -0.076855  1.149642e+12  0.138650     7
2381627  93436.0  2022-01 -0.113609  1.092218e+12  0.138650     7
2381628  93436.0  2022-02 -0.070768  9.681319e+11  0.138650     7
2381629  93436.0  2022-03  0.238009  8.996190e+11  0.180390     8

[2358354 rows x 6 columns]

## Get the value-weighted returns

In [10]:
roa['totalmcap'] = roa.groupby(['allo','ym']).mcap.transform('sum')
roa['weight'] = roa.mcap / roa.totalmcap
roa['vw_ret'] = roa.weight * roa.RET
roa

,PERMNO,ym,RET,mcap,ROA,allo,totalmcap,weight,vw_ret
0,10000.0,1986-04,-0.098592,1.633000e+07,-0.598611,0,1.008426e+10,0.001619,-0.000160
1,10000.0,1986-05,-0.222656,1.517200e+07,-0.598611,0,1.077422e+10,0.001408,-0.000314
2,10000.0,1986-06,-0.005025,1.179386e+07,-0.598611,0,1.166325e+10,0.001011,-0.000005
3,10000.0,1986-07,-0.080808,1.173459e+07,-0.826196,0,1.176385e+10,0.000998,-0.000081
4,10000.0,1986-08,-0.615385,1.078634e+07,-0.826196,0,1.036968e+10,0.001040,-0.000640
...,...,...,...,...,...,...,...,...,...
2381625,93436.0,2021-11,0.027612,1.118751e+12,0.120098,7,6.149587e+12,0.181923,0.005023
2381626,93436.0,2021-12,-0.076855,1.149642e+12,0.138650,7,6.249066e+12,0.183970,-0.014139
2381627,93436.0,2022-01,-0.113609,1.092218e+12,0.138650,7,6.552056e+12,0.166699,-0.018939
2381628,93436.0,2022-02,-0.070768,9.681319e+11,0.138650,7,6.445197e+12,0.150210,-0.010630
2381629,93436.0,2022-03,0.238009,8.996190e+11,0.180390,8,9.037744e+12,0.099540,0.023691

In [11]:
vw_pf = roa.groupby(['allo','ym']).agg({'vw_ret':'sum'}).reset_index()
vw_pf = vw_pf.sort_values(['ym','allo']).reset_index(drop = True)
vw_pf

      allo       ym    vw_ret
0        0  1980-01  0.020129
1        1  1980-01  0.060104
2        2  1980-01  0.035846
3        3  1980-01  0.068700
4        4  1980-01  0.033736
...    ...      ...       ...
5065     5  2022-03  0.022368
5066     6  2022-03  0.031717
5067     7  2022-03  0.046344
5068     8  2022-03  0.062637
5069     9  2022-03  0.027582

[5070 rows x 3 columns]

## Get the ff3 factors at the same time period

In [12]:
ff3['ym'] = pd.to_datetime(ff3.date).dt.to_period('M')
ff3 = ff3[['ym','mktrf','smb','hml','rf']]
ff3 = ff3[ff3.ym >= '1980-01'].reset_index(drop = True)
ff3

          ym   mktrf     smb     hml      rf
0    1980-01  0.0551  0.0162  0.0175  0.0080
1    1980-02 -0.0122 -0.0185  0.0061  0.0089
2    1980-03 -0.1290 -0.0664 -0.0101  0.0121
3    1980-04  0.0397  0.0105  0.0108  0.0126
4    1980-05  0.0526  0.0213  0.0038  0.0081
..       ...     ...     ...     ...     ...
495  2021-04  0.0493 -0.0311 -0.0093  0.0000
496  2021-05  0.0029 -0.0028  0.0704  0.0000
497  2021-06  0.0279  0.0180 -0.0776  0.0000
498  2021-07  0.0119 -0.0396 -0.0175  0.0000
499  2021-08  0.0291 -0.0045 -0.0007  0.0000

[500 rows x 5 columns]

## Merge the table

In [13]:
vw_pf = pd.merge(vw_pf, ff3, how = 'left', on = 'ym')
vw_pf['ri-rf'] = vw_pf['vw_ret'] - vw_pf['rf']
vw_pf = vw_pf.dropna()
vw_pf

      allo       ym    vw_ret   mktrf     smb     hml     rf     ri-rf
0        0  1980-01  0.020129  0.0551  0.0162  0.0175  0.008  0.012129
1        1  1980-01  0.060104  0.0551  0.0162  0.0175  0.008  0.052104
2        2  1980-01  0.035846  0.0551  0.0162  0.0175  0.008  0.027846
3        3  1980-01  0.068700  0.0551  0.0162  0.0175  0.008  0.060700
4        4  1980-01  0.033736  0.0551  0.0162  0.0175  0.008  0.025736
...    ...      ...       ...     ...     ...     ...    ...       ...
4995     5  2021-08  0.019508  0.0291 -0.0045 -0.0007  0.000  0.019508
4996     6  2021-08  0.016309  0.0291 -0.0045 -0.0007  0.000  0.016309
4997     7  2021-08  0.024354  0.0291 -0.0045 -0.0007  0.000  0.024354
4998     8  2021-08  0.019172  0.0291 -0.0045 -0.0007  0.000  0.019172
4999     9  2021-08  0.032670  0.0291 -0.0045 -0.0007  0.000  0.032670

[5000 rows x 8 columns]

## Use sklearn to do linear regression

In [14]:
def capm_alpha(df):
    y = df[['ri-rf']]
    X = df[['mktrf']]
    return np.squeeze(LinearRegression().fit(X,y).intercept_)

def ff3_alpha(df):
    y = df[['ri-rf']]
    X = df[['mktrf','smb','hml']]
    return np.squeeze(LinearRegression().fit(X,y).intercept_)

In [17]:
capm_a = vw_pf.groupby('allo').apply(capm_alpha).reset_index()
capm_a = capm_a.rename(columns = {0:'alpha'})
capm_a

   allo                   alpha
0     0   -0.014374630382925382
1     1   -0.006016867241299217
2     2    -0.00403340743089007
3     3  -0.0008187174203254186
4     4   -0.000926554012162603
5     5   0.0005035332664795481
6     6   0.0002778767686909076
7     7   0.0007521649033164317
8     8   0.0008241427647988952
9     9   0.0010228721399141456

In [18]:
ff3_a = vw_pf.groupby('allo').apply(ff3_alpha).reset_index()
ff3_a = ff3_a.rename(columns = {0:'alpha'})
ff3_a

   allo                    alpha
0     0    -0.012357524981034682
1     1     -0.00517210855377037
2     2    -0.005083983842981018
3     3    -0.002757352755295603
4     4   -0.0019331869835299137
5     5  -1.3354133278159486e-05
6     6  -3.8831551048626456e-05
7     7    0.0006042177094476159
8     8    0.0011447543804992697
9     9    0.0021052894116275894

## Use statsmodels to do linear regression

In [19]:
Y = vw_pf.loc[vw_pf.allo == 0,'ri-rf']
X = vw_pf.loc[vw_pf.allo == 0,'mktrf']
X = sm.add_constant(X)
model1 = sm.OLS(Y,X)
capm_res = model1.fit()
capm_res.summary()

D:\anaconda\lib\site-packages\statsmodels\tsa\tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  x = pd.concat(x[::order], 1)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  ri-rf   R-squared:                       0.518
Model:                            OLS   Adj. R-squared:                  0.517
Method:                 Least Squares   F-statistic:                     535.8
Date:                Sun, 19 Jun 2022   Prob (F-statistic):           5.08e-81
Time:                        21:22:59   Log-Likelihood:                 648.04
No. Observations:                 500   AIC:                            -1292.
Df Residuals:                     498   BIC:                            -1284.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0144      0.003     -4.781      0.000      -0.020      -0.008
mktrf          1.5331      0.066     23.148      0.000       1.403       1.663
==============================================================================
Omnibus:                       46.975   Durbin-Watson:                   1.804
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              225.023
Skew:                           0.197   Prob(JB):                     1.37e-49
Kurtosis:                       6.263   Cond. No.                         22.3
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [20]:
Y = vw_pf.loc[vw_pf.allo == 0,'ri-rf']
X = vw_pf.loc[vw_pf.allo == 0,['mktrf','smb','hml']]
X = sm.add_constant(X)
model2 = sm.OLS(Y,X)
ff3_res = model2.fit()
ff3_res.summary()

D:\anaconda\lib\site-packages\statsmodels\tsa\tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  x = pd.concat(x[::order], 1)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  ri-rf   R-squared:                       0.735
Model:                            OLS   Adj. R-squared:                  0.734
Method:                 Least Squares   F-statistic:                     459.3
Date:                Sun, 19 Jun 2022   Prob (F-statistic):          1.07e-142
Time:                        21:23:06   Log-Likelihood:                 797.71
No. Observations:                 500   AIC:                            -1587.
Df Residuals:                     496   BIC:                            -1571.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0124      0.002     -5.508      0.000      -0.017      -0.008
mktrf          1.2416      0.051     24.180      0.000       1.141       1.342
smb            1.2630      0.077     16.417      0.000       1.112       1.414
hml           -0.6465      0.075     -8.626      0.000      -0.794      -0.499
==============================================================================
Omnibus:                       48.351   Durbin-Watson:                   1.642
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              120.141
Skew:                           0.496   Prob(JB):                     8.16e-27
Kurtosis:                       5.187   Cond. No.                         37.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

## Create the ROA factor (long-short portfolio)