In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")
import math
from sklearn.preprocessing import StandardScaler

In [2]:
data=pd.read_csv(r'D:\Code Library\DDA4210\variable_results.csv')
data = data.drop(['Unnamed: 0'], axis = 1)
data

,Date,Contest number,Word,Number of reported results,Number in hard mode,1 try,2 tries,3 tries,4 tries,5 tries,...,r,s,t,u,v,w,x,y,z,num of char
0,2022-12-31,560,manly,20380,1899,0,2,17,37,29,...,0,1,0,1,0,0,0,0,0,5
1,2022-12-30,559,molar,21204,1973,0,4,21,38,26,...,1,0,0,0,0,0,0,0,0,5
2,2022-12-29,558,havoc,20001,1919,0,2,16,38,30,...,1,0,0,0,0,0,0,0,0,4
3,2022-12-28,557,impel,20160,1937,0,3,21,40,25,...,1,0,0,1,0,0,0,1,0,5
4,2022-12-27,556,condo,20879,2012,0,2,17,35,29,...,1,0,0,0,0,0,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,2022-01-11,206,drink,153880,3017,1,9,35,34,16,...,0,0,0,0,0,0,0,0,0,4
355,2022-01-10,205,query,107134,2242,1,4,16,30,30,...,0,0,0,0,0,0,0,0,0,5
356,2022-01-09,204,gorge,91477,1913,1,3,13,27,30,...,0,0,0,0,1,0,0,0,0,5
357,2022-01-08,203,crank,101503,1763,1,5,23,31,24,...,1,0,0,0,0,0,0,0,0,5
358,2022-01-07,202,slump,80630,1362,1,3,23,39,24,...,0,0,0,0,0,0,0,1,0,5

In [3]:
data.columns

Index(['Date', 'Contest number', 'Word', 'Number of  reported results',
       'Number in hard mode', '1 try', '2 tries', '3 tries', '4 tries',
       '5 tries', '6 tries', '7 or more tries (X)', 'vec', 'pos', 'wlen',
       'vowel_cnt', 'isholiday', 'hard%', 'DT', 'EX', 'FW', 'IN', 'JJ', 'JJR',
       'JJS', 'MD', 'NN', 'NNP', 'NNS', 'PRP$', 'RB', 'RBR', 'VB', 'VBD',
       'VBG', 'VBN', 'VBP', 'VBZ', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i',
       'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w',
       'x', 'y', 'z', 'num of char'],
      dtype='object')

In [4]:
vec_x = data[['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i',
       'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w',
       'x', 'y', 'z']]
vec_x = vec_x.to_numpy()

In [5]:
attribute = ['vowel_cnt','isholiday', 'DT', 'EX', 'FW', 'IN', 'JJ', 'JJR',
       'JJS', 'MD', 'NN', 'NNP', 'NNS', 'PRP$', 'RB', 'RBR', 'VB', 'VBD',
       'VBG', 'VBN', 'VBP', 'VBZ','num of char']
output = ['1 try', '2 tries', '3 tries', '4 tries',
       '5 tries', '6 tries', '7 or more tries (X)']
len(attribute)

23

In [6]:
x0 = data[attribute]
y = data[output]
x0

,vowel_cnt,isholiday,DT,EX,FW,IN,JJ,JJR,JJS,MD,...,PRP$,RB,RBR,VB,VBD,VBG,VBN,VBP,VBZ,num of char
0,1,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,5
1,2,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,5
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
4,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,4
355,2,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,5
356,2,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
357,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
358,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5

In [7]:
from sklearn.manifold import TSNE
tsne = TSNE(n_components = 3)
x1 = tsne.fit_transform(x0)
x1

array([[-20.493296 , -45.252445 ,  40.1383   ],
       [-29.754688 , -23.98518  , -27.127483 ],
       [ 60.775383 ,  83.44298  ,  31.831018 ],
       ...,
       [-81.7092   , 109.396706 ,  21.206516 ],
       [ -2.2627764, -83.384094 ,  40.71477  ],
       [-57.21918  , -15.0352   , 122.915474 ]], dtype=float32)

In [8]:
y

     1 try  2 tries  3 tries  4 tries  5 tries  6 tries  7 or more tries (X)
0        0        2       17       37       29       12                    2
1        0        4       21       38       26        9                    1
2        0        2       16       38       30       12                    2
3        0        3       21       40       25        9                    1
4        0        2       17       35       29       14                    3
..     ...      ...      ...      ...      ...      ...                  ...
354      1        9       35       34       16        5                    1
355      1        4       16       30       30       17                    2
356      1        3       13       27       30       22                    4
357      1        5       23       31       24       14                    2
358      1        3       23       39       24        9                    1

[359 rows x 7 columns]

In [9]:
scaler = StandardScaler()
scaler.fit(y)
y = scaler.transform(y)
y

array([[-0.60211399, -0.94427875, -0.73704474, ...,  0.90292316,
         0.07099986, -0.19557569],
       [-0.60211399, -0.4529801 , -0.22226057, ...,  0.39775524,
        -0.41296752, -0.43852266],
       [-0.60211399, -0.94427875, -0.86574078, ...,  1.07131247,
         0.07099986, -0.19557569],
       ...,
       [ 0.67693289, -0.69862943, -1.2518289 , ...,  1.07131247,
         1.68422445,  0.29031824],
       [ 0.67693289, -0.20733077,  0.03513151, ...,  0.06097663,
         0.39364478, -0.19557569],
       [ 0.67693289, -0.69862943,  0.03513151, ...,  0.06097663,
        -0.41296752, -0.43852266]])

In [10]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.multioutput import RegressorChain
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import r2_score
from sklearn import ensemble
from sklearn.multioutput import MultiOutputRegressor 
from sklearn.metrics import mean_squared_error

In [11]:
def score(y, y_hat):
    result1 = r2_score(y, y_hat, multioutput='raw_values')
    result2 = r2_score(y, y_hat, multioutput='uniform_average')
    return result1, result2

In [12]:
train_x, test_x, train_y, test_y = train_test_split(x1 , y, test_size=0.1)

In [13]:
train_x, test_x, train_y, test_y = train_test_split(vec_x , y, test_size=0.1, random_state = 2023)

In [14]:
model_rf = RegressorChain(RandomForestRegressor(max_depth=7, n_estimators=100, min_samples_split=4))
model_rf.fit(train_x,train_y)
print("Random forest:")
train_y_hat = pd.DataFrame(model_rf.predict(train_x))
test_y_hat = pd.DataFrame(model_rf.predict(test_x))
#print(train_y_hat)
#print(test_y_hat)

print(model_rf.score(train_x,train_y))
print(model_rf.score(test_x,test_y))

Random forest:
0.175593190934945
-0.19469450964697313

In [15]:
params = {'n_estimators': 100, 'max_depth': 7, 'min_samples_leaf': 4}

estimator = MultiOutputRegressor(ensemble.RandomForestRegressor(**params))
estimator.fit(train_x,train_y)
mse = mean_squared_error(test_y, estimator.predict(test_x))
print("MSE: %.4f" % mse)
print(estimator.score(test_x,test_y))

MSE: 0.9662
0.008719959524650227